
@model CSharpLearning.Web.Models.DataStructures.LinkedList<int>
@{
    ViewData["Title"] = "LinkedList";
}

<h2>LinkedList</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.ToString()</li>
    }
</ul>

